@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 768px) {
  /* Removed custom cursor styles */
}

body {
  background: var(--background);
  color: var(--foreground);
}